<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734600608234-4tfl3dlln6qohirp04g931qvd043l0p6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734600608234-4tfl3dlln6qohirp04g931qvd043l0p6</string>
	<key>API_KEY</key>
	<string>AIzaSyClBomhLo9wENLcgQmjmaiyVQxMHS9UgHk</string>
	<key>GCM_SENDER_ID</key>
	<string>734600608234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFireAuth</string>
	<key>PROJECT_ID</key>
	<string>flutterfireauth-2e0e4</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfireauth-2e0e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734600608234:ios:532b49a5a9a15c5cef9a93</string>
</dict>
</plist>